.center_content {
    margin: 100px 10px 0px 30px;
    width: 85%;
    overflow-y: hidden;
    overflow-y: scroll;
    height: 785px;
    box-sizing: border-box;
    padding: 30px 20px;
 }
 .budget_header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid black;
}
.budget_header h3{
    font-size: 22px;
    font-weight: 600;

}
.budget_header p{
    background-color:rgb(248, 114, 66) ;
    font-weight: 600;
    color: white;
    padding: 5px 13px;
    font-size: 14px;
    border-radius: 3px;
}
