#notesicon{     
    background-color: rgb(71, 71, 71);
    color: white;
}     
.create_note{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
    padding: 20px;
    box-sizing: border-box;
}  
.create_note1{
    width: 60%;
}
.create_note1 button{
    background-color: #eed26e;
    border: 0px;
    border-radius: 5px;
    color: rgb(71, 71, 71);
    font-weight: 1000;
}
.create_note1 input{
    width: 100%;
    margin-top: 15px;
    padding:8px 10px ;
    box-sizing: border-box;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#txtarea{
    width: 100%;
    height: 150px;
    padding: 10px ;
    box-sizing: border-box;
    margin: 20px auto;
    border: 0px;
    /* box-shadow: rgba(67, 71, 85, 0.2) 0px 0px 5.6px 0px, rgba(90, 125, 188, 0.05) 0px 5.6px 8px 0px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  
}   
#txtarea:focus,.create_note1 input:focus{
    outline: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
}   
#Notes_month{
    width: 130px;
    padding: 3px 10px ;
    margin: 0px 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}   
#Notes_month:focus{
    outline: none;
} 
.create_note button{
    padding: 10px 20px;
    border: 0px;
}      
.create_note  img{
    width: 150px;
    margin-right: 50px;
}     
.notes{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
}    
.notes .note{
    width: 250px;
    /* height: 180px; */
    padding: 20px;
    box-shadow: rgba(67, 71, 85, 0.2) 0px 0px 5.6px 0px, rgba(90, 125, 188, 0.05) 0px 5.6px 8px 0px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
} 
.hr{
    height: .5px;
    margin: 10px 0px ;
}
.note p{
    /* text-align:center; */
    font-size: 13px;
    font-weight: 400;
}
.note p:nth-of-type(2){
    margin: 10px 0px 0px 135px;
    color: grey;
    font-weight: bold;
}
.note_header{
    display: flex;
    justify-content: space-between;

}
.note_header img{
    width: 22px;
    height: 22px;
    cursor: pointer;
}

                            