::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #639bc4;
    /* background: #f2d14f; */
    border-radius: 10px;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* ----------Header nav---------- */
header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav {
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #f2f4f7;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
nav a{
    color: rgb(88, 88, 88);
    font-size: 14px;
}
nav >img {

    width: 160px;
}

#search {
    background-image: url(../images/icons/search.png);
    background-size: 22px;
    background-position: right;
    background-repeat: no-repeat;
    padding: 10px;
    width: 30%;
    border-width: 0px 0px 1.5px 0px;
    margin-right: 30px;
    background-color: #f2f4f7;

}

#search:focus {
    outline: none;
}

.nav_right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
}
.nav_right a:nth-of-type(2){
    padding: 10px;
    border-radius: 50%;
}
.nav_right a:nth-of-type(2):hover{

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#log_out{
    width: 30px;
}
/* -----------Main Content Starts--------- */
main {
    display: flex;
    justify-content: space-between;
    width: 100%;


}

.left_side {
    width: 13%;
    margin-top: 100px;
   
}

.left_side .tabs {
    padding-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    background-color: #f0f1f1;

}
.tabs a {
    width: 90px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin-bottom: 30px;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.tabs a img {
    width: 35px;
    margin-bottom: 5px;

}
#homeicon{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f0f1f1;
}

/* -----------Center Content div------------ */
.center_side {
    padding: 20px;
    box-sizing: border-box;
    width: 60%;
    margin-top: 110px;
    overflow-y: hidden;
    max-height: 780px;
    overflow-y: scroll;
    scrollbar-width: 5px;


}

.center_side>h3 {
    color: grey;
}

#homechart {
    max-width: 500px;
}

.homestats {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f4f7;
    border-radius: 5px;
}

.add {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add h4 {
    margin-top: 10px;
}
.add h4:nth-of-type(1) span{
    color: #e76967;
}
.add h4:nth-of-type(2) span{
    color: rgb(91, 197, 91) ;
}
.add div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.add button {
    background-color: #f4d660;
    padding: 8px;
    border-radius: 5px;
    border-width: 0px;
    margin-right: 10px;
}

.add img {
    width: 25px;
}

.home_transactions {
    margin-top: 40px;
}
/*---------------- Adding income form -------------*/
.add_income_form, .add_expense_form{
    width: 23%;
    padding: 20px;
    border-radius: 5px;
    height: 420px;
    position: fixed;
    top: 23%;
    left: 35%;
    background-color: white;
    transition: 1s;
    display: none;
    border-radius: 10px;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.view {
    display: block;
    transition: 1s;
}
.add_income_form h2,.add_expense_form h2{
    text-align: center;
    margin-bottom: 30px;
}
.add_income_form label,.add_expense_form label{
    color: rgb(68, 68, 68);
}
.add_income_form input,.add_expense_form input{
    padding: 10px 15px;
    width: 80%;
    border: solid black;
    border-width: 0px 0px 0px 0px;
    box-shadow: 0px 10px 10px -15px #111;    
    margin:10px 0px 30px 20px;
    font-weight: 400;
}
.button_div{
    display: flex;
    justify-content: space-between;
}
.button_div button{
    padding:8px  20px;
    border: none;
    border-radius: 5px;
}
.add_income_form input:focus,.add_expense_form input:focus{
    outline: none;
}
.add_income_form button:nth-of-type(1){
    background-color:rgb(94, 211, 94) ;
    color: white;
}
.add_expense_form button:nth-of-type(1){
    background-color:rgb(211, 81, 81) ;
    color: white;
}
#back_button{
    padding:8px  20px;
    text-decoration: none;
    border-radius: 5px;
    background-color:#4d8ab6 ;
    color: white;
}
/* ------------------Home table------------------ */

.home_transactions table {
    width: 100%;
    border-spacing: 0px 20px;
    text-align: center;

}

.home_transactions table tr {
    box-shadow: 0px .1px 0px black;
}

.home_transactions table tr td {
    padding: 6px 0px;
    font-weight: 500;
}
table tr td:nth-of-type(2){
    color: #454545;
}

.home_transactions table tr td:nth-child(2) span {
    font-size: 12px;
    color: grey;
}

#expense {
    color: rgb(233, 76, 76);
}

#income {
    color: rgb(54, 208, 54);
}

#balance {
    color: #4d8ab6;
}
#edit_icon img{
    width: 33px;
}
#delete_icon img{
    width: 28px;
}

/* --------------Right Side Content --------------- */

.right_side {
    width: 22%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}


.right_side_1 {

    margin-top: 220px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5da2d4;
    color: #f9f7f2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.right_side_1 .profile {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    position: absolute;
    top: 140px;
}

.profile img {
    width: 100%;
    border-radius: 10px;

}

.right_side_1 h2 {
    margin-top: 50px;
    font-weight: 800;
}

.right_side_1 .this_month {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding:10px  20px;
    box-sizing: border-box;
}

.total_balance,
.total_expense,
.total_income {
    width: 64%;
    height: 80px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 15px;
    background-color: #ececec;
    color: #4d8ab6;

}

:is(.total_balance, .total_expense, .total_income) h1 {
    text-align: center;
    margin-top: 10px;
    font-weight: 800;
}

:is(.total_balance, .total_expense, .total_income) p {
    color: #306388;
    font-weight: 800;
}

.total_balance h1 {
    color: rgb(111, 201, 111);
}

.total_expense h1 {
    color: #dd7a79;
}
